div.student-card {
  width: 50%;
  flex-grow: 1;
  &:hover {
    background: rgb(247, 191, 191);
  }

  border: 1px solid rgba(202, 202, 202, 0.333);
  box-shadow: 0px 5px 5px 0px rgba(208, 208, 208, 0.395);
  margin: 10px 4px;
  padding: 10px;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

p.name {
  font-weight: 600;
  padding: 0;
  margin: 0;
}

p.username {
  color: rgb(147, 147, 147);
}

p.unmatched {
  color: rgb(219, 38, 68);
}
